{% extends "../base.html" %}
{% block table %}
    <table id="employee_table" class="display display_table">
        <thead>
            <tr>
                {% for name in employee_table_cols %}
                    <th>{{ name }}</th>
                {% endfor %}
            </tr>
        </thead>
    </table>
    <script>
    $(document).ready(function() {
        var editor = new $.fn.dataTable.Editor({
            ajax: {
                create: {
                    type: 'POST',
                    url: '/create_employee',
                },
                remove: {
                    type: 'DELETE',
                    url: '/delete_employee/_id_', // _id_ is the id of the row to be deleted
                    deleteBody: false
                }
            },
            table: '#employee_table',
            idSrc: 'EmployeeID',
            fields: [
                { label: 'EmployeeID', name: 'EmployeeID' },
                { label: 'FirstName', name: 'FirstName' },
                { label: 'LastName', name: 'LastName' }
            ]
        });

        var employee_table = $('#employee_table').DataTable({
            processing: true,
            serverSide: true,
            serverMethod: 'post',
            ajax: {
                'url': '/ajaxemployees'
            },
            searching: true,
            sort: false,
            serverSide: true,
            columns: [
                { data: 'EmployeeID'},
                { data: 'FirstName'},
                { data: 'LastName'}
            ],
            layout: {
                topStart: {
                    buttons: [
                        { extend: 'create', editor: editor },
                        { extend: 'edit', editor: editor },
                        { extend: 'remove', editor: editor }
                    ]
                }
            },
            select: true,
        });
    });
    </script>
{% endblock %}