<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Stateline Electic Parts Database Veiwer</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script>src="https://requirejs.org/docs/release/2.3.7/minified/require.js"</script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
      <script src="static\script.js"></script>


      <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
      <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css"/>
    </head>
    
    <body>
      <div class="container-fluid toppage">

        <h2>Parts Database</h2>
  
        <div style="text-align:center;">
          <img src="/static/images/Bullet_Logo_Head.png" class="img-responsive"/>
        </div>
  
        <button type="button" id="add-record-btn" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#add-record-modal">Add records</button>
        {% include "modal.html" %}

      </div>
      
      <div class="container-fluid tab_bar">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
  
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="tools" data-bs-toggle="pill" aria-controls="tool_view" aria-selected="false" href="{{url_for('tool_table_show')}}">Tools</a>
          </li>
  
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="checkout" data-bs-toggle="pill" aria-controls="checkout_view" aria-selected="false" href="{{url_for('checkout_table_show')}}">Checkout</a>
          </li>
  
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="employees" data-bs-toggle="pill" aria-controls="employee_view" aria-selected="false" href="{{url_for('employee_table_show')}}">Employees</a>
          </li>
          
        </ul>
      </div>

      <div class="container-fluid table" id="main-table">
        {% block table %}{% endblock %}
      </div>

    </body>
</html>