{% extends "base.html" %}
{% block table %}
    <table id="employee_table" class="display display_table">
        <thead>
            <tr>
                {% for name in get_table_info.columns %}
                    <th>{{ name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in get_table_info.dataset %}
                <tr>
                    <td>{{ row.EmployeeID }}</td>
                    <td>{{ row.FirstName }}</td>
                    <td>{{ row.LastName }}</td>
                </tr>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $("#employee_table").DataTable();
        });
    </script>
{% endblock %}