<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Stateline Electic Parts Database Veiwer</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
      <script src="static\script.js"></script>

      <link href="https://cdn.datatables.net/v/dt/dt-2.1.8/b-3.2.0/b-colvis-3.2.0/fh-4.0.1/sc-2.4.3/sl-2.1.0/sr-1.4.1/datatables.min.css" rel="stylesheet">
      <script src="https://cdn.datatables.net/v/dt/dt-2.1.8/b-3.2.0/b-colvis-3.2.0/fh-4.0.1/sc-2.4.3/sl-2.1.0/sr-1.4.1/datatables.min.js"></script>

    </head>
    
    <body>
      <div class="container-fluid">
    
        <h2>Parts Database</h2>
        <button type="button" id="add-record-btn" class="btn btn-secondary pull-right">Add records</button>

        <div id="dialog" title="Add Records">
          <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button type="button" class="nav-link active" id="nav-tool-tab" aria-current="page" data-bs-toggle="tab" data-bs-target="#tools" aria-controls="nav-tools" role="tab">Tools</button>
                  <button type="button" class="nav-link" id="nav-employee-tab" data-bs-toggle="tab" data-bs-target="#employees" role="tab">Employees</button>
              </div>
          </nav>

          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane show active" id="tools" role="tabpanel" aria-labelledby="nav-tool-tab" tabindex="0">
  
              <label for="Name">Name</label>
              <input type="text" class="form-control" id="partName" placeholder="Enter Name">
  
              <label for="Type">Type</label>
              <input type="text" class="form-control" id="partType" placeholder="Enter Type">
  
              <label for="SKU">SKU</label>
              <input type="text" class="form-control" id="partSku" placeholder="Enter SKU">
  
              <label for="serialNum">Serial Number</label>
              <input type="text" class="form-control" id="partSerialNum" placeholder="Enter Serial Number">

              <label for="description">Description</label>
              <textarea class="form-control" id="partDesc" placeholder="Enter description (optional)"></textarea>

              <button type="submit" class="btn btn-primary submit-tool-data pull-right mt-3">Submit</button>
            </div>
          </div>


        </div>
      </div>
    
      
    
      <div class="container-fluid tab_bar">
        <ul class="nav nav-pills red">

          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" aria-current="page" href="#1a">Tools</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#2a">Checkout</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#3a">Employees</a>
          </li>

        </ul>
      </div>
    </body>
</html>