{% extends "base.html" %}
{% block table %}
    <table id="tool_table" class="display display_table">
        <thead>
            <tr>
                {% for name in get_table_info.columns %}
                    <th>{{ name }}</th>
                {% endfor %}
            </tr>
        </thead>
    </table>
    <script>
        var editor = new DataTable.Editor({
            'ajax': {
                'url': '/ajaxtools'
            },
            fields: [
                { label: 'Tool ID', name: 'ToolID' },
                { label: 'Type', name: 'Type' },
                { label: 'Tool Name', name: 'ToolName' },
                { label: 'Brand', name: 'Brand' },
                { label: 'SKU', name: 'SKU' },
                { label: 'Serial Num', name: 'SerialNum' },
                { label: 'Description', name: 'Description' },
            ],
            table: '#tool_table'
        });

        $(document).ready(function() {
            var toolTable = $('#tool_table').DataTable({
                'processing': true,
                'serverSide': true,
                'serverMethod': 'post',
                'ajax': {
                    'url': '/ajaxtools'
                },
                'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                searching: true,
                sort: false,
                "serverSide": true,
                'columns': [
                    { data: 'ToolID'},
                    { data: 'Type'},
                    { data: 'ToolName'},
                    { data: 'Brand'},
                    { data: 'SKU'},
                    { data: 'SerialNum'},
                    { data: 'Description'},
                ],
                layout: {
                    topStart: {
                        buttons: [
                            { extend: 'create', editor: editor },
                            { extend: 'edit', editor: editor },
                            { extend: 'remove', editor: editor },
                        ]
                    }
                }
            });

        });
    </script>
{% endblock %}