{% extends "base.html" %}
{% block table %}
    <table id="tool_table" class="display display_table">
        <thead>
            <tr>
                {% for name in get_table_info.columns %}
                    <th>{{ name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in get_table_info.dataset %}
                <tr>
                    <td>{{ row.ToolID }}</td>
                    <td>{{ row.Type }}</td>
                    <td>{{ row.ToolName }}</td>
                    <td>{{ row.Brand }}</td>
                    <td>{{ row.SKU }}</td>
                    <td>{{ row.SerialNum }}</td>
                    <td>{{ row.Description }}</td>
                </tr>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            var toolTable = $('#tool_table').DataTable({
                'processing': true,
                'serverSide': true,
                'serverMethod': 'post',
                'ajax': {
                    'url':'/ajaxfile'
                }
            })
        });
    </script>
{% endblock %}